.ingweb-menu {
  display: flex;
}

.icon_menu {
  margin-right: 3.2rem;
}

.logo_ingcorp {
  margin-right: 2.4rem;
}

.user-box {
  display: flex;
  align-items: center;
  width: 21.027rem;
}
.user-box p {
  width: 16.733rem;

  font-weight: 400;
  font-size: 1.4rem;
  line-height: 21px;

  color: #3e3f44;
}

.title-group {
  width: 10.734rem;
  height: 1.55rem;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 14px;

  color: #3e3f44;
}

.button-input_header {
  display: flex;
  gap: 0.8rem;
}

button.css-ke5b6m-MuiButtonBase-root-MuiButton-root {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #45c777;
  width: 16.69rem;
  height: 5rem;
}

.infos-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

div.roboto.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  width: 13.4rem;
  height: 3.6rem;
  align-self: flex-start;
}

div.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  color: #3e3f44;
}

input.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 0.8rem 1.2rem;
}

.final-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0px;

  width: 16.8rem;
  height: 5.167rem;
}

.settings-icon {
  cursor: pointer;
}

.notifications-icon {
  cursor: pointer;
  border-right: 1px solid black;
  border-left: 1px solid black;
  padding: 0 2.4rem;
}

.logout-icon {
  cursor: pointer;
}
