.Lists {
  width: 100vw;
  height: 100vh;
  background: #e5e5e5;
}

.poppins {
  font-family: "Poppins";
  font-style: normal;
}

.roboto {
  font-family: "Roboto";
  font-style: normal;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;

  height: 7.2rem;
  width: 100%;

  background: #ffffff;
}

.main-content {
  display: flex;
  height: 100vh;
}

.side-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.2rem;

  width: 6.4rem;
  min-height: 100vh;

  background: #ffffff;
  margin: 0;
}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.2rem;

  width: 100%;
  height: 100vh;

  background: #e5e5e5;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2.4rem;

  width: 100%;
  height: 90%;

  background: #ffffff;
  border-radius: 10px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 4rem;
  margin-bottom: 3.6rem;
}

div.search-input.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  height: 100%;
  width: 42%;

  border: 1px solid #828292;
  box-sizing: border-box;
  border-radius: 4px;
}

.search-input div.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  height: 100%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.8rem;

  color: #3e3f44;
}

.filter-button.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  display: flex;
  align-items: center;
  padding: 0.8rem 2.4rem 0.8rem 1.2rem;
  width: 10.6rem;
  height: 100%;

  background: #ffffff;

  border: 1px solid #828292;
  box-sizing: border-box;
  border-radius: 5px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 18px;

  color: #27282e;
  text-transform: none;
}

.date-container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.date-button.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.8rem;

  height: 4rem;

  border: 1px solid #828292;
  box-sizing: border-box;
  border-radius: 4px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 18px;

  color: #27282e;
  text-transform: none;
}

.add-cases.css-sghohy-MuiButtonBase-root-MuiButton-root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 1.6rem;

  background: #5b78ff;
  border-radius: 4px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 21px;
  text-transform: none;

  color: #ffffff;
}

.filter-bar {
  display: flex;
  align-items: center;
  align-self: flex-end;
  gap: 1.2rem;
  margin-bottom: 1.2rem;
}

.filter-bar p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 21px;

  display: flex;
  align-items: center;

  color: #27282e;
}

.filter-buttons.css-sghohy-MuiButtonBase-root-MuiButton-root {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.8rem 1.2rem;
  background: #5b78ff;
  border-radius: 5px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 21px;

  text-align: center;
  text-transform: none;
  color: #ffffff;
}

.filter-buttons.white-buttons {
  background: #ffffff;

  border: 1px solid #d9dae1;
  box-sizing: border-box;

  color: #3e3f44;
}

.filter-buttons.white-buttons:hover {
  background-color: #e5e5e5;
}

.icone-main {
  align-self: flex-end;
  margin: 1.2rem 0;
}

.table-list {
  width: 100%;
  height: 100%;
}
