tr.css-lrem3r-MuiTableRow-root,
tr.css-sg4v2v-MuiTableRow-root {
  padding: 0.8rem 2.4rem;
}

th.css-6qfsqn-MuiTableCell-root,
th.css-1howxi1-MuiTableCell-root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border: 0;
}

.small-table.css-6qfsqn-MuiTableCell-root {
  width: 5.7rem;
  height: 4rem;
}

.div-head {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 21px;

  color: #27282e;
}

th.css-dsuxgy-MuiTableCell-root,
td.css-dv0mq-MuiTableCell-root {
  border: 0;
}

.div-body {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 18px;
  display: flex;
  align-items: center;

  color: #27282e;
}
