.Details {
  height: 100vh;
  background: #e5e5e5;
}

.main-content {
  display: flex;
  height: 100vh;
}

.side-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.2rem;

  width: 6.4rem;
  min-height: 100vh;

  background: #ffffff;
  margin: 0;
}
