.right-principal {
  width: 49%;
  height: 100%;

  padding-top: 2rem;

  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.menu-control {
  width: 100%;
  height: 6%;
  display: flex;
  justify-content: space-between;
}

.principal-menu-control {
  width: 85.2%;
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid #d9dae1;
}

.options-menu {
  width: 11.4rem;
  height: 100%;
}

.blue-border-option {
  border-bottom: 1px solid #5b78ff;
}

.container-options-menu {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1rem;

  cursor: pointer;
}

.container-options-menu p {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 18px;

  color: #828292;
}

.container-options-menu .blue-option {
  color: #5b78ff;
}

.body-right {
  height: 87%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-body {
  display: flex;
  align-items: center;
  gap: 0.9rem;
}

.header-body h1 {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 24px;

  color: #27282e;
}

.quantity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem 0.2rem;

  width: 1.9rem;
  height: 1.8rem;

  background: #9eaae1;
  border-radius: 2px;

  font-weight: 400;
  font-size: 1.2rem;
  line-height: 18px;

  color: #ffffff;
}

.main-body {
  width: 100%;
  height: 76.8%;

  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: 1.2rem;

  padding-right: 1.2rem;
}

.main-body::-webkit-scrollbar {
  width: 0.3rem;
}

.main-body::-webkit-scrollbar-track {
  background: #c2cfe0;
  border-radius: 100px;
}

.main-body::-webkit-scrollbar-thumb {
  background: #3758cc;
  border-radius: 100px;
}

.cards-tarefas {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px;
}

.card-tarefas {
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1.2rem;

  background: #ffffff;

  border: 1px solid #bcbfd0;
  box-sizing: border-box;
  border-radius: 4px;

  gap: 1rem;
}

.head-cards-tarefas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;

  width: 100%;
}

.head1-tarefas {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
}

.head1-tarefas p {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 18px;
  color: #828292;

  margin-right: 1.8rem;
}

.title-cards-tarefas {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 100%;
  gap: 0.2rem;
}

.principal-title {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 18px;

  color: #3e3f44;
}

.second-title {
  font-weight: 400;
  font-size: 1rem;
  line-height: 15px;

  color: #3e3f44;
}

.tags-cards-tarefas {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  width: 100%;
  gap: 0.4rem;
}

.tag-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 1.4rem;

  background: #5b78ff;
  border-radius: 50px;

  font-weight: 700;
  font-size: 1rem;
  line-height: 15px;

  text-align: center;

  color: #ffffff;
}

.more-tarefas {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #5b78ff;
}

.footer-cards-tarefas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;

  width: 100%;
}

.footer1-tarefas {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
}

.footer2-tarefas {
  width: 41.8%;
}

.button-concluided,
.button-todo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0.8rem;

  box-sizing: border-box;
  border-radius: 5px;
}

.button-concluided {
  background: #adffd0;

  border: 1px solid #45c777;
}

.button-todo {
  background: #bdeeff;

  border: 1px solid #5b78ff;
}

.button-concluided p,
.button-todo p {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 18px;

  display: flex;
  align-items: center;
}

.button-concluided p {
  color: #45c777;
}

.button-todo p {
  color: #5b78ff;
}

.separator-body-right {
  width: 100%;
  border: 1px solid #d9dae1;
}

.add-button-right {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 1.6rem;

  width: 100%;

  background: #5b78ff;
  border-radius: 4px;
}

.add-button-right p {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 21px;

  display: flex;
  align-items: center;

  color: #ffffff;
}
