.principal-content {
  width: 100%;
  height: inherit;

  display: flex;
}

.left-principal,
.right-principal {
  height: 100%;
}

.left-principal {
  width: 51%;
}

.right-principal {
  width: 49%;
}

.left1-div {
  display: flex;
}

.titles-leftdiv {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 18px;

  display: flex;
  align-items: center;

  color: #27282e;
}

.origin-chanel {
  display: flex;
}

.div2-buttons {
  display: flex;
}

button.css-1oplvmg-MuiButtonBase-root-MuiButton-root,
button.css-1fwdfk8-MuiButtonBase-root-MuiButton-root {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 18px;

  color: #3e3f44;

  text-transform: none;
}

button.css-1oplvmg-MuiButtonBase-root-MuiButton-root {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.8rem;

  border: 1px solid #828292;
  box-sizing: border-box;
  border-radius: 4px;
}

button.css-1fwdfk8-MuiButtonBase-root-MuiButton-root {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.8rem;

  border: 1px solid #828292;
  box-sizing: border-box;
  border-radius: 4px;
}

.div-left2 {
  display: flex;
}

.header-left3 {
  display: flex;
}

.main-left3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1.6rem;

  background: #ffffff;

  border: 1px solid #828292;
  border-radius: 4px;
}
