* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
}

#root {
  height: 100vh;
}

.App {
  min-height: 100vh;
  display: flex;
  background: #ffffff;
}
