.poppins {
  font-family: "Poppins";
  font-style: normal;
}

.roboto {
  font-family: "Roboto";
  font-style: normal;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;

  height: 7.2rem;
  width: 100%;

  background: #ffffff;
}

.ingweb-menu {
  display: flex;
}

.logo_ingcorp {
  margin-right: 2.4rem;
}

.title-group {
  width: 10.734rem;
  height: 1.55rem;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 14px;

  color: #3e3f44;
}

.button-input_header {
  display: flex;
  gap: 0.8rem;
}

button.css-ke5b6m-MuiButtonBase-root-MuiButton-root {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #45c777;
  width: 16.69rem;
  height: 5rem;
}

.infos-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

div.roboto.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  width: 13.4rem;
  height: 3.6rem;
  align-self: flex-start;
}

div.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  color: #3e3f44;
}

input.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 0.8rem 1.2rem;
}

.icon_menu {
  cursor: pointer;

  margin-right: 3.2rem;
  margin-left: 0.72rem;
}

.user-box {
  display: flex;
  align-items: center;
}

.user-box p {
  width: 16.733rem;

  font-weight: 400;
  font-size: 1.4rem;
  line-height: 21px;

  color: #3e3f44;
}

.final-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0px;

  width: 16.8rem;
  height: 5.167rem;
}

.settings-icon {
  cursor: pointer;
}

.notifications-icon {
  cursor: pointer;
  border-right: 1px solid black;
  border-left: 1px solid black;
  padding: 0 2.4rem;
}

.logout-icon {
  cursor: pointer;
}

.container-icons {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 15rem;

  height: 47.2rem;
}

.icon-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  padding: 1.6rem;
  border-bottom: 1px solid #d9dae1;
  cursor: pointer;
}

.buttons-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 9.6rem;
}

.no-side-menu {
  display: none;
}

.side-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.2rem;

  width: 6.4rem;
  min-height: 100%;

  background: #ffffff;
  margin: 0;
}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.2rem;

  width: 100%;
  height: 100%;

  background: #e5e5e5;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2.4rem;

  width: 100%;
  height: 100%;

  background: #ffffff;
  border-radius: 10px;
}

.main-content {
  display: flex;
  height: calc(100vh - 7.2rem);
}
