.Login {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  background: #ffffff;
}

.poppins-font {
  font-family: "Poppins";
  font-style: normal;
}

.left-side,
.right-side {
  min-height: auto;
}
